@keyframes scroll-watcher {
  to { scale: 1 1; }
}

.scroll-watcher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform-origin: left;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}